<ul id="gear-dropdown" class="gear-dropdown hidden">
	<li>
		<span class="dropdown-subtitle">Edition</span>
		<ul class="editions">
			<a href="#">CSS</a>
			<a href="#">HTML</a>
			<a href="#">Javascript</a>
			<a href="#">Ruby</a>	
		</ul>
	</li>
	<li>
		<span class="dropdown-subtitle">Help</span>
		<ul class="help">
			<a href="#">FAQ</a>
			<a href="#">Contact Us</a>
		</ul>
	</li>
</ul>