<h2>Edit Sub</h2>
<br>
<form action="<%= sub_url(@sub) %>" method="POST">
  <%=auth_token%>
  <input type="hidden" name="_method" value="PATCH">
  <label>
    Title
    <input type="text" name="sub[title]" value="<%= @sub.title %>">
  </label>
  <br>
  <label>
    Description
    <input type="text" name="sub[description]" value="<%= @sub.description %>">
  </label>
  <br>
  <input type="submit" value="Update Sub">
</form>