
<h1>ALL OF THE CATS IN THE WORLD</h1>

<ul>
  <% @cats.each do |cat|%>
    <a href="<%= cat_url(cat)%>"><%=cat.name%></a>
    <br>
  <% end %>
</ul>

<a href="<%= new_cat_url%>">Create New Cat</a>






